/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the feis color to match your design.
 */

::-moz-selection {
    feis: #b3d4fc;
    text-shadow: none;
}

::selection {
    feis: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    feis: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
  box-sizing: border-box;
}

*,*:before,*:after{
  box-sizing: inherit;
}

body{
  background:white;
  /* FUENTES  */
}



/* GLOBALES */

.contenedor{
  width:98%;
  margin: 0 auto;
}
@media only screen and (min-width:480px){
  .contenedor{
    width:95%;
  }
}
@media only screen and (min-width:768px){
  .contenedor{
    width:90%;
  }

}
@media only screen and (min-width:992px){
  .contenedor{
    width:1250px;
  }

}

@media only screen and (min-width:1350px){
  .contenedor{
    width:1300px;
  }

}

h2{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  text-transform: uppercase;
  padding-top: 10px;
  color:#4f4f4f;
}

h2::after{
  content: '';
  margin:0 auto;
  background-image: url(../img/separador.png);
  height: 30px;
  width: 100px;
  display:block;
  margin-top: 20px;
}
li{
font-size: 1em;
font-family: 'Roboto', sans-serif;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color:#4f4f4f;

}
h3{
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  margin-bottom: 5px;
  color:#4f4f4f;

}
a{
  font-family: 'Roboto', sans-serif;
  font-style: light;
}





/* Header */

div.espacio-logo{
  float:left;
  width:200px;
  height:50px;
  clear:none;
  margin-left: 0px;
  padding-bottom: 1px;
}
  @media only screen and (min-width:992px){

  /* ACHICAR BANNER EN PANTALLA GRANDE?? */

  /* div.espacio-banner{
    width:95%;
    margin: 0 auto;
  }
  .banner{
    width: 95%;
    height: auto;
  } */

}


@media only screen and (min-width:768px){
  div.espacio-logo{
    width:200px;
    }
}
@media only screen and (min-width:992px){

div.espacio-logo{
    width:200px;
    margin-left: 40px;
  }
}



header{
  background-image: url(../img/bannernuevo-01.jpg);
  width:100vw;
  height: 47vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 50px;

}

@media only screen and (min-width:768px){
  header{
    width:100vw;
    height: 47vw;

  }

@media all and (orientation:landscape) {
     [styles for landscape orientation]
  }

@media all and (orientation:portrait) {
     [styles for portrait orientation]
  }

}
.logo{
 width:100%;
 max-height:100%;
}



.banner{
  width: 100%;
  height: auto;
}

nav.atajos{
  bac
  display:none;
  height:50px;
  clear:none;
  text-align: right;
  font-size: 1.3em;
  background:white;
  background-color: rgba(255,255,255,0.5);
}


a.feis img {
  height: 35px;
  margin-bottom: 5px;
}

  nav.atajos a:first-child{
    display:block;
    margin-right: 60px;
    padding-top: 6px;
  }

nav.atajos a{
  display:none;
  color: black;
  text-decoration: none;
  padding-bottom: 20px;
  font-size: 0.8em;
  color: #4f4f4f;
}

nav.atajos a:hover{
  font-size: 0.85em;
  color: #0da09c;
  transition: all .5s ease;
}

header #myLinks {
  display: none;
  z-index: 500
}
/* Style navigation menu links */

#myLinks a{
  color: white;
  padding: 3vw 30px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  background: #4f4f4f;
}

/* Style the hamburger menu */
nav.atajos a.icon {
  height: 40px;
  background: transparent;
  display: block;
  position: absolute;
  right: 0;
  top:0;
  padding: 14px 16px;
}

/* Add a grey background color on mouse-over */
nav.atajos a:hover {
  background-color:;
  color:;
}


@media only screen and (min-width:768px){
  nav.atajos  i{
    display: none;
  }
  div.contenido-header{
    position:fixed;
    top:0;
    width:100%;
    transition: background-color 300ms ease;
    z-index: 500;
  }
  .contenido-header.scrolled {
  background-color: #d3d3d3 !important;
  transition: background-color 300ms ease;
  /* height: 55px; */
}
  nav.atajos{
    display:block;
  }
  nav.atajos a{
  display:inline-block;
  margin-right: 15px;
  padding: 11px;
  padding-right: 0px;
  padding-left:0px;
  }
  nav.atajos a span{
    padding-right: 15px;
    border-right: solid 0.5px #DADADA;
}
nav.atajos a:nth-child(5){
  margin-right: 50px;
}
nav.atajos a:nth-child(5){
  border-right: none;
}
nav.atajos a:nth-child(6){
  border-right:
}
nav.atajos a:first-child{
  display:inline-block;
  margin-right: 15px;

}

}




@media only screen and (min-width:992px){
  nav.atajos a:last-child{
    margin-right: 100px;
  }
}


@media only screen and (min-width:768px){
}
div.menu-movil{
  float:right;
  width:70px;
  height:50px;
  padding-right:20px;
  background:transparent;
  text-align: right;
}

div.menu-movil span{
  height:7px;
  margin-bottom: 5px;
  margin-top:5px;
  background-color: #DADADA;
  display:block;
  padding-top:5px;
}
div.menu-movil span:first-child{
 margin-top:9px;
}
@media only screen and (min-width:768px){
  div.menu-movil{
    display:none;
}
}


/* IMAGENES Y DESCRIPCION ABAJO DEL BANNER */

div.bajobanner{
  text-align: center;
}

div.imagenes-bajobanner{
  display:block;
  width: 50%;
  margin:0 auto;
}
div.imagenes-bajobanner img{
  width: 70%;
  border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  margin:0 auto;
  padding-bottom: 0px;
}

div.imagenes-bajobanner p{
   margin-bottom: 60px;
   height:54px;
}

@media only screen and (min-width:768px){
  div.bajobanner{
    text-align: center;
    padding-top: 10px;

  }
  div.imagenes-bajobanner{
    display:inline-block;
    width: 30%;
    padding-left: 50px;
    padding-right: 50px;
  }
  div.imagenes-bajobanner p {
    margin-bottom: 20px;
  }
}

div.precio{
  text-align: center;

}
div.precio ul{
 padding-left: 0;
}
div.precio ul li.mayor{
  display: block;
  width: 70%;
  margin: 0 auto;
  list-style: none;
  height: auto;
  padding-top: 12px;
  border:solid 10px #0da09c;;
  text-align: center;
  transition: all .4s ease-in-out;
  margin-bottom: 30px;
}
div.precio ul li.mayor:hover{
 border:solid 10px #0da09c;
 transition: all .5s ease;
 transform: scale(1.05);
-webkit-font-smoothing: antialiased;
}

div.precio ul li h3{
  font-size: 1.2em;
  margin-top: 8px;
  margin-bottom: 8px;
}

div.precio ul li p{
  font-size: 2.5em;
  margin-top: 8px;
  margin-bottom: 8px;
}
div.precio ul li span{
 display:block;
}
div.precio ul li img{
 width:40%;
}
div.precio ul ul{
  padding-left: 0px;
  text-align: center;
  list-style: none;
  margin-bottom: 10px;
}

@media only screen and (min-width:768px){
 div.precio ul li.mayor{
   display:inline-block;
   width: 25%;
  margin-right: 50px;
   border:solid 10px #DADADA;
 }
 div.precio ul li.mayork{
   margin-right: 0px;
}
}

div.imgquienesomos{
  text-align: center;
}
div.imgquienesomos img{

  width:70vw;
  height:46vw;
}
div.pquienesomos{
  width: 80%;
  margin:0 auto;
  height: 200px;
  background-color: white;
  margin-bottom: 25px;

}
div.pquienesomos p{
margin-top: 0;
text-align: justify;
}

@media only screen and (min-width:768px){
  div.pquienesomos{
    height: 160px;
    width: 60%;
    margin: 0 auto;
  }
}

div.pquienesomos h3{
  margin-top: 30px;
  text-transform: uppercase;
  text-align: center;
}

#texto{
  text
  color:#4f4f4f;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight:400;
  font-style: italic;
}
#cita{
  color:black; text-align: right;
  padding-right: 20px;
}
div.ubicacion {
  height: 400px;
}
div.direccion-mapa p{
text-align: center;
padding-top: 30px;
}
div.direccion-mapa span{
 font-weight: bold;

}

div.mapiti{
  width: 100%;
  height: 300px;
}
@media only screen and (min-width:768px){
  div.mapiti{
    height: 400px;
  }
}
footer{
  background:#4f4f4f;
  height: 120px;
}
footer ul li{
  font-size: 0.8em;
  padding-top: 10px;
  list-style: none;
  color:#DADADA;
  display:block;
  width:90%;
  float:left;
  text-align: center;
}

footer ul li.feisini{
  padding-left:px;
}

@media only screen and (min-width:768px){

  footer ul li{
    padding-top: 45px;
    display:inline-block;
    width:30%;
    float:left;
    text-align: center;
  }
  footer ul li.feisini{
    padding-top: 38px;
    margin-left: 48px;
  }

  div.nombre li{
    text-align: left;
  }
  div.numero li{
    text-align: right;
  }
}

h2{
  margin-top: -70px;
   padding-top: 70px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        feis: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
